html, body {
  height: 100%;
}

#recipeBox {
  height: 100%;
  width: 100%;
  text-align: center;
}

#header {
  margin-bottom: 20px;
}

row {
  width: 100%;
}

.thumbnail {
  height: 250px;
  padding-bottom: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail:hover {
  opacity: 0.9;
}

.thumbnail button {
  width: 70px;
  margin-bottom: 10px;
}

h3 a {
  color: #fff;
}
h3 a:hover, h3 a:visited {
  cursor: pointer;
  color: #fff;
  text-decoration: underline;
}
